<div class="row">
    <div class="col">

        <mat-icon mat-icon-button (click)="cancelar()">close</mat-icon>
        <h1>Editar Paquete de Pago</h1>

        <form autocomplete="off" [formGroup]="miFormulario" enctype="multipart/form-data">
            
            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre del paquete</label>
                <div class="col-sm-9">

                    <input type="text"
                           class="form-control"
                           formControlName="nombrepaquete"
                           placeholder=""
                           >
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('nombrepaquete')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <button (click)="editarNombrePaquete()">Editar</button>
            <button *ngIf="botonGuardarNombre" (click)="guardarPaquete()">Guardar</button>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Descripción </label>
                <div class="col-sm-9">
                    <textarea type="text"
                           class="form-control"
                           formControlName="descripcion"
                           placeholder=""
                           style="width: 650px; height: 200px;"></textarea>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('descripcion')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <button (click)="editarDescripcionPaquete()">Editar</button>
            <button *ngIf="botonGuardardescripcion" (click)="guardarPaquete()">Guardar</button>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="precio"
                           placeholder=""
                           
                           >
                           
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('precio')">
                        
                        Campo Requerido
                    </span>
                    
                </div>
            </div>

            <button (click)="editarPrecioPaquete()">Editar</button>
            <button *ngIf="botonGuardarprecio" (click)="guardarPaquete()">Guardar</button>
            <!-- <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Duración</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="duracion"
                           placeholder=""
                           
                           >
                           
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('duracion')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div> -->

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Duración:</label>
                    <select class="form-control"
                            formControlName = "duracionpaquetes_idduracionpaquetes">
                        <option value="">-- Seleccione la duración --</option>
                        <option  *ngFor="let duracion of duracionPaquete" value="{{duracion.idduracionpaquetes}}">
                            {{duracion.descripcion}}
                        </option>
                        <!-- <option value="0">1 Mes</option>
                        <option value="1">2 Meses</option>
                        <option value="2">3 Meses</option>
                        <option value="3">6 Meses</option> -->
                        <!-- <option *ngFor="let nivelestudios of nivelesestudios"
                                [value]="nivelestudios.idnivelestudios">{{ nivelestudios.descripcion }}</option> -->
                    </select>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('duracionpaquetes_idduracionpaquetes')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <button (click)="editarDuracionPaquete()">Editar</button>
            <button *ngIf="botonGuardarduracionpaquetes" (click)="guardarPaquete()">Guardar</button>



            

            <div class="row">
                <div class="col-25">
                <!-- fechainicio -->
                <label>Fecha de inicio</label>
                </div>
                <div class="col-sm-9">
                    <input type="date" formControlName="fecharegistro" placeholder="Ingrese la fecha de inicio "
                    (change)="validarFechainicio()">
                    <span class="form-text text-danger" *ngIf="campoEsValido('fecharegistro')"
                    >
                        Campo Requerido
                    </span>
                    <span class="form-text text-danger"
                        *ngIf="!fechaCorrectaInicio">
                        
                        Ingrese una fecha correcta.
                        
                    </span>
                </div>
            </div>

            <button (click)="editarfechaCreacionPaquete()">Editar</button>
            <button *ngIf="botonGuardarfecharegistro" (click)="guardarPaquete()">Guardar</button>

            <div class="row">
                <div class="col-25">
                <!-- fechacierre -->
                <label>Fecha de cierre</label>
                </div>
                <div class="col-sm-9">
                    <input type="date" formControlName="fechacaducidad" placeholder="Ingrese la fecha de cierre"
                    (change)="validarFechacierre()" >
                    <span class="form-text text-danger" *ngIf="campoEsValido('fechacaducidad')">
                        Campo Requerido
                    </span>
                    <span class="form-text text-danger"
                        *ngIf="!fechaCorrectaCierre">
                        
                        Ingrese una fecha correcta.
                        
                    </span>
                </div>
            </div>

            <button (click)="editarfechaCaducidadPaquete()">Editar</button>
            <button *ngIf="botonGuardarfechacaducidad" (click)="guardarPaquete()">Guardar</button>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            (click)="cancelar()"
                            [disabled]="miFormulario.invalid"
                            class="btn btn-primary float-end" 
                            >
                        Cerrar
                    </button>
                </div>
            </div>




            
        </form>

    </div>
</div>

<!-- (click)="updato(eUsuari)" -->

<!-- [disabled]="miFormulario.invalid" -->
