<br>
<br>


<div class="contenedor">
     

<div class='imgperfil'>

</div>

<!-- <div *ngFor="let u of usuarios">
    <div *ngIf="u.idusuario==id"> -->
    <p> {{usuarioActual.nombre}} {{usuarioActual.apellido}}</p>
<!-- </div>
</div> -->


<img src="assets/img/Iconos agencia laboral-66.png" class="datosP">

<!-- 
<div class="datosPersonales">
    <p>DATOS PERSONALES</p>
</div> -->

<div class="contenedor">

  

    <div>
        PROFESIONAL
    </div>

</div>


<form autocomplete="off"  >

    <div >
        <label >Tipo de Documento</label>
            <input 
            class="inputs"
            value="{{tipodocumentodesc}}"
            >
    </div>

    <div >
        <div >
            <input 
            class="inputs"
            value="{{usuarioActual.nodocumento}}"
            > 
        </div>
    </div>

    <div >
        <label >Usuario</label>
        <div >
            <input 
            class="inputs"
            value="{{usuarioActual.nombreusuario}}"
            >
        </div>
    </div>


    

   

    <div >
        <label>Nombres</label>
        <div >
            <input 
            class="inputs"
            value="{{usuarioActual.nombre}}"
            >
        </div>
    </div>

    <div >
        <label>Apellidos</label>
        <div >
            <input 
            class="inputs"
            value="{{usuarioActual.apellido}}"
            >
        </div>
    </div>

    <div >
        <label >Correo</label>
        <div >
            <input 
            class="inputs"
            value="{{usuarioActual.correo}}"
            >
        </div>
    </div>


    <div >
        <label >Telefono</label>
        <div >
            <input 
            class="inputs"
            value={{usuarioActual.telefono}}
            >
        </div>
    </div>

    <div >
        <label >Dirección</label>
        <div >
            <input 
            class="inputs"
            value={{usuarioActual.direccion}}
            >
          
           
        </div>
    </div>




    <div >
        <label >Provincia</label>
        <div class="custom-select">
            <select class="selects">
                <option value='{{provinciadesc}}' >{{provinciadesc}}</option>
                <option *ngFor="let p of provincias"  value="{{p.idprovincia}}">
                    {{p.nombreprovincia}}     
                </option>
            </select>
           <span class="custom-arrow"></span>
        </div>
    </div>

    <div >
        <label >Ciudad</label>
        <div >
           
            <select >
                <option value='{{ciudadesdesc}}'disabled selected >{{ciudadesdesc}}</option>
                <option *ngFor="let c of ciudades"  value="{{c.idciudad}}">
                    {{c.nombreciudad}}
                    
                </option>
            </select>
           
        </div>
    </div>




    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">
           
            <select     style="width: 250px;" class="form-control">
                <option value='{{generodesc}}'disabled selected >{{generodesc}}</option>
                <option *ngFor="let g of generos"  value="{{g.idgenero}}">
                    {{g.genero}}
                    
                </option>
            </select>
           
        </div>
    </div>



    <button type="button" class="btn btn-warning ms-1 fa-2x">
        <i class="far fa-edit"></i>
    </button>


</form>




<h1>Datos Profesionales</h1>



<div class="" *ngFor="let a of aspirantes" >
    <div *ngIf="a.usuario_idusuario==usuarioActual.idusuario">
         <div *ngIf="a.numerohijos!= null"> 



            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Profesión:</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                  
                    value="{{profesiondesc}}"
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>
 
            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Descripcion Perfil Profesional</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                  
                   
                    value={{a.descripcionPerfilProfesional}}
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>
            

            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Años de experiencia</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                  
                   
                    value={{a.aniosexperiencia}}
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Número de hijos</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                  
                   
                    value={{a.numerohijos}}
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                    type="date"
                   
                    value={{a.fechanacimiento}}
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Posibilidad Viajar</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                    
                   
                    value={{a.posibilidadviajar}}
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Posibilidad cambio de residencia</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                    
                   
                    value={{a.posibilidadcambioresidencia}}
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Salario mínimo aceptado(Mensual)</label>
                <div class="col-sm-9">
                    <input 
                    class="form-control"
                    
                   
                    value={{a.salarioMinimoAceptado}}$ 
                    style="width: 250px;"
                    
                    >
                  
                   
                </div>
            </div>
            <br>
            <br>
<!-- 



            <p>Número de hijos: {{a.numerohijos}}</p>
            <p>Salario Mínimo Aceptado: {{a.salarioMinimoAceptado}}</p>
            <p>descripcion Perfil Profesional: {{a.descripcionPerfilProfesional}}</p>
            <p>Años de experiencia: {{a.aniosexperiencia}}</p>
            <p>Fecha de Nacimiento: {{a.fechanacimiento}}</p>
            <p>Posibilidad de viajar: {{a.posibilidadviajar}}</p> -->
            <div class="mb-3 row">
                <div class="col-sm-9">
                    <video  width="400" height="400"  controls src="http://localhost:8000{{a.videopresentacion}}"></video>
                </div>

            </div>
            <br>
            <br>

            <!-- <div class="contenedorInformacion" *ngFor="let a of aspirantes" > -->
                <div *ngFor="let ar of archivos">
                <div *ngIf="a.idaspirante==ar.aspirante_idaspirante">
                    <a href="http://localhost:8000{{ar.archivo}}" download="A.pdf"> {{ar.nombredocumento}}</a>
                    
                    
                    </div>
                    </div>
                    <!-- </div> -->
                    <br>
                    <br>
         </div> 
        <button  class="btn btn-warning ms-1 fa-2x" (click)="editarProfesional()">
            <i class="far fa-edit"></i>
        </button>
</div>

        

