<p>perfil-aspirante works!</p>



<div class="contenedor">
     

<div class='imgperfil'>

</div>

<!-- <div *ngFor="let u of usuarios">
    <div *ngIf="u.idusuario==id"> -->
    <p> {{usuarioActual.nombre}} {{usuarioActual.apellido}}</p>
<!-- </div>
</div> -->


<h1>Datos Personales</h1>

<!-- <div class="contenedorInformacion" *ngFor="let u of usuarios" >
    <div *ngIf="u.idusuario==id"> -->
    <p>Número documento: {{usuarioActual.nodocumento}}</p>
    <p>Correo: {{usuarioActual.correo}}</p>
    <p>Teléfono: {{usuarioActual.telefono}}</p>
    <p>Dirección: {{usuarioActual.direccion}}</p>
<!-- </div>
</div> -->

<h1>Datos Profesionales</h1>

<div class="contenedorInformacion" *ngFor="let a of aspirantes" >
    <!-- <div *ngFor="let u of usuarios"> -->
    <div *ngIf="a.usuario_idusuario==usuarioActual.idusuario">
    <p>Número de hijos: {{a.numerohijos}}</p>
    <p>Experiencia Laboral: {{a.experiencialaboral}}</p>
    <p>Experticia: {{a.experticia}}</p>
    <p>Años de experiencia: {{a.aniosexperiencia}}</p>
    <p>Fecha de Nacimiento: {{a.fechanacimiento}}</p>
    <p>Posibilidad de viajar: {{a.posibilidadviajar}}</p>
    <div class="mb-3 row">
        <div class="col-sm-9">
            <video controls src="http://localhost:8000/{{a.videopresentacion}}"></video>
        </div>

    </div>
    <br>
    <br>

    <!-- <div class="contenedorInformacion" *ngFor="let a of aspirantes" > -->
        <div *ngFor="let ar of archivos">
        <div *ngIf="a.idaspirante==ar.aspirante_idaspirante">
            <a href="http://localhost:8000/{{ar.archivo}}" download="A.pdf"> {{ar.nombredocumento}}</a>
            
            
            </div>
            </div>
            <!-- </div> -->
            <br>
            <br>
</div>
<!-- </div> -->
        
</div>
</div>
