<!-- 
     <section id="portfolio">
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="section-heading">
                            <h4>Our Gallery</h4>
                            <div class="line-dec"></div>
                            <p>In malesuada placerat ligula et bibendum. Aenean eget urna enim. Sed enim ante, bibendum nec dictum ac, gravida ac lectus.</p>
                            <div class="filter-categories">
                                <ul class="project-filter">
                                    <li class="filter" data-filter="all"><span>Show All</span></li>
                                    <li class="filter" data-filter="branding"><span>Branding</span></li>
                                    <li class="filter" data-filter="graphic"><span>Graphic</span></li>
                                    <li class="filter" data-filter="nature"><span>Nature</span></li>
                                    <li class="filter" data-filter="animation"><span>Animation</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="projects-holder-3">
                            <div class="projects-holder">
                                <div class="row">
                                    
                                    <div class="col-md-6 col-sm-6 project-item mix animation">
                                      <div class="thumb">
                                        <div class="image">
                                                <a href="assets/img/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_02.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    
                                    
                                    <div class="col-md-6 col-sm-6 project-item mix animation">
                                        <div class="thumb">
                                          <div class="image">
                                                  <a href="assets/img/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_02.jpg"></a>
                                              </div>
                                        </div>
                                      </div>
                                      
                                    <div class="col-md-6 col-sm-6 project-item mix animation">
                                        <div class="thumb">
                                          <div class="image">
                                                  <a href="assets/img/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_02.jpg"></a>
                                              </div>
                                        </div>
                                      </div>
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               
            </div>
            
        </div> 
        
    </section>  
    <br><br><br><br>
    <div class="cajaAmarilla">

    </div> -->

<div class="banner">

    <div class="contenedorPortfolio">

        <div class="portfolioIzq">

            <div class="texto">
                <h1>NUESTRA GALERÍA</h1>
                <hr  size=1 width="100%">
    
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic veritatis numquam iure quae illum, architecto itaque 
                    iste consectetur ab quia sequi nisi cupiditate deserunt repudiandae vero neque dicta distinctio adipisci.</p>
            </div>
            

                <div class="categorias">
                
                       <span>Show All</span> 
                        <span>Branding</span>
                        <span>Graphic</span>
                        <span>Nature</span>
                        <span>Animation</span>
                               
                
                </div>
                

        </div>
        <div class="portfolioDer">

            <div class="fila1">
                <img src="assets/img/razones-para-estudiar-recursos-humanos.jpg" alt="" >
                <img src="assets/img/indicadores_gestion_supply_figura_principal.jpg" alt="" >
            </div>
          

            <br>
            
            <img src="assets/img/business-leader-interviewing-job-candidate-scaled.jpg" alt="" class="img3">


        </div>
    </div>
 
    <div class="cajaAmarilla">

    </div>
   
</div>  