<div id="container">
    <button type="button" routerLink="/register" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form autocomplete="off" [formGroup]="miFormulario" enctype="multipart/form-data">
        <!-- Username -->
        <label for="name">Correo electrónico:</label>
        <input type="name" formControlName="correo">
        <!-- Password -->
        <label for="username">Contraseña:</label>
        <div  class="col">
            <p><a href="#">Olvidaste tu contraseña?</a>    
            <input type="password" [type]="hide ? 'password' : 'text'"  class="form-control" formControlName="contrasenia" placeholder="password">
            <mat-icon class=" field-icon " (click)="show()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
        
        

        <div id="lower">
            <!-- Submit Button -->
            <input type="submit" value="Login " (click)="login()">
            <input type="submit" routerLink="/aspirante/registroFullAspirante" value="Register">

        </div>
    </form>       
</div>