
    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/Smart_Notifications.jpg" alt="">
                        </div>
                        <h4>Smart Notifications</h4>
                        <div class="line-dec"></div>
                        <p class="descripcion">Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna
                            aliquam erat volutpat. Ut wisi enim
                            ad minim veniam,.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/Lovely_Web_Design.jpg" alt="">
                        </div>
                        <h4>Lovely Web Design</h4>
                        <div class="line-dec"></div>
                        <p class="descripcion">Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna
                            aliquam erat volutpat. Ut wisi enim
                            ad minim veniam, quis nostrud
                            exerci tation ullamcorper
                            suscipit feugiat </p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/service_icon_03.png" alt="">
                        </div>
                        <h4>Quick Support</h4>
                        <div class="line-dec"></div>
                        <p class="descripcion">Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/One-Click_Setup.jpg" alt="">
                        </div>
                        <h4>One-Click Setup</h4>
                        <div class="line-dec"></div>
                        <p class="descripcion">Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna
                            aliquam erat volutpat. Ut wisi enim
                            ad minim veniam, quis nostrud
                            exerci tation ul.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
