
<div id="container">
       
                <button type="button" routerLink="/main" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                <div id="lower">
                        <!-- Seleccione un perfil -->
                        <label for="name">Seleccione un perfil</label>
                        <button class="registro" routerLink="/empresa/registroEmpresa">Empresa</button>
                        <button class="registro" routerLink="/aspirante/registroAspirante">Aspirante</button>
                </div>

                <button class="registro" routerLink="/administrador/registroAdministrador">Administrador</button>

                

</div>
