<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a class="sr-only" mat-list-item routerLink="/administrador/sesionAdministrador/aspirantesAceptados">Argentina</a>
      <button mat-list-item routerLink="/administrador/aspirantesAceptados">Link 1</button>
      <button mat-list-item (click) = "showSesionAspirante();drawer.close();">Link 2</button>
      <button mat-list-item (click) = "showAspirantesAceptados();drawer.close();">Link 3</button>
      <a mat-list-item routerLink="/administrador/aspirantesAceptados" (click) = "drawer.close();">Argentina</a> -->
      <h4>Tu Perfil</h4>
      <ul class="nav nav-pills nav-stacked">
        <!-- <li ><a  mat-list-item routerLink="/administrador/sesionAdministrador/aspirantesAceptados">Datos Personales</a></li> -->
        <li><a mat-list-item routerLink="/administrador/sesionAdministrador/aspirantesNuevos">Nuevos Aspirantes</a></li>
        <li><a mat-list-item routerLink="/administrador/sesionAdministrador/aspirantesAceptados">Aspirantes Aceptados</a></li>
        <li><a mat-list-item routerLink="/administrador/sesionAdministrador/asignarAspirante">Asignar Aspirantes</a></li>
        <li><a mat-list-item routerLink="/administrador/sesionAdministrador/perfilAdministrador">Perfil Administrador</a></li>
        <li ><a mat-list-item routerLink="/administrador/sesionAdministrador/empresas">Empresas</a></li>
        <li ><a mat-list-item routerLink="/administrador/sesionAdministrador/sugerencias">Sugerencias</a></li>
        <li><a mat-list-item routerLink="/administrador/sesionAdministrador/configuracion">Configuración</a></li>
      </ul><br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="#" class="navbar-brand scroll-top"><em>Agencia</em>Laboral</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-aspirantes-aceptados *ngIf="aspirantesAceptados"></app-aspirantes-aceptados> -->
    <!-- <app-sesion-aspirante *ngIf="sesionAspirante"></app-sesion-aspirante> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
