<p>revisar-sugerencias works!</p>
<div>
    <div class="aspiranteIndividual" *ngFor="let sugerencia of sugerencias">
        <div *ngFor="let user of usuarios">
            <div *ngIf="user.idusuario==sugerencia.usuario_idusuario">
                Nombres: {{user.nombre}} {{user.apellido}}
            </div>
        </div>
        Descripción: {{sugerencia.descripcion}}
        <div *ngIf="sugerencia.imagen != null">
            <div >
                <img class="imgsug" src="http://localhost:8000{{sugerencia.imagen}}">      
            </div>
        </div>
        
    </div>
</div>
<div>
    <div class="aspiranteIndividual" *ngFor="let sugerencia of sugerenciasEmpresa">
        <div *ngFor="let empresa of empresas">
            <div *ngIf="empresa.idusuario==sugerencia.usuario_idusuario">
                Nombres: {{empresa.nombrecomercial}} 
            </div>
        </div>
        Descripción: {{sugerencia.descripcion}}
        <div *ngIf="sugerencia.imagen != null">
            <div >
                <img class="imgsug" src="http://localhost:8000{{sugerencia.imagen}}">      
            </div>
        </div>
        
    </div>
</div>