<div class="row">
    <div class="col">
        <button type="button" routerLink="/administrador/sesionAdministrador/autorizarEmpresas">
            Volver atrás
        </button>
            <div class="row">
                <div class="col-25">
                  <!-- Documanto -->
                <label>Tipo de Documento:</label>
                </div>
                <div class="col-sm-9">                    
                    <p>{{tipodocumentoDesc}}</p>                
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- No del Documento  -->
                <label>RUC/Cédula </label>
                </div>
                <div class="col-sm-9">
                    <p>{{ruc_cedula}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                <label >Tipo de Persona</label>
                </div>
                <div class="col-sm-9">
                    <p>{{tipopersonaDesc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- Razón Social -->
                <label >Razón Social</label>
                </div>
                <div class="col-sm-9">
                    <p>{{razonsocial}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- Nombres -->
            <label>Nombre Comercial</label>
                </div>
                <div class="col-sm-9">
                    <p>{{nombrecomercial}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- Tipo de Empresa -->
                <label>Tipo de Empresa </label>
                </div>
                <div class="col-sm-9">
                    <p>{{tipoempresaDesc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- Actividad Economica -->
                <label > Actividad Economica</label>
                </div>
                <div class="col-sm-9">
                    <p>{{actDesc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- Rama de Actividad -->
                <label > Rama de Actividad </label>
                </div>
                <div  class="col-sm-9">
                    <p>{{ramaDesc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <!-- Provincia -->
                    <label>Provincia:</label>
                </div>
                <div class="col-sm-9" > 
                    <p>{{provinciaDesc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <!-- Ciudad  -->
                <label>Ciudad: </label>
                </div>
                <div class="col-sm-9">
                    <p>{{ciudadDesc}}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-25">
                    <!-- Sector -->
                    <label >Sector</label>
                </div>
                <div class="col-sm-9">
                    <p>{{sectorDesc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <!-- Calle Principal -->
                    <label>Calle Principal</label>
                </div>
                <div  class="col-sm-9">
                    <p>{{calleprincipal}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <!-- Calle Secundaria -->
                    <label>Calle Secundaria</label>
                </div>
                <div class="col-sm-9">
                    <p>{{callesecundaria}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Manzana</label>
                </div>
                <div class="col-sm-9">
                    <p>{{mz}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Villa</label>
                </div>
                <div class="col-sm-9">
                    <p>{{villa}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <!-- Referencia -->
                    <label> Referencia</label>
                </div>
                <div  class="col-sm-9">
                    <p>{{referencia}}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-25">
                    <label>Teléfono Celular</label>
                </div>
                <div  class="col-sm-9">
                    <p>{{celular}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <!-- Numero de telefono de oficina -->
                    <label>Teléfono de Oficina</label>
                </div>
                <div  class="col-sm-9">
                    <p>{{telefonooficina}}</p>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                   
                    <label>Correo electrónico:</label>
                </div>
                <div  class="col-sm-9">
                    <p>{{correo}}</p>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <!-- Web -->
                    <label>Pagina Web:</label>
                </div>
                <div  class="col-sm-9">
                    <p>{{paginaweb}}</p>
                    
                </div>
            </div>
             
    </div>
</div>
