
<app-navbar></app-navbar>


<div class="banner">

    <div class="contenedorTexto">
        <h1>Lideres en gestión del Talento Humano, en Agencia Laboral Ecuador brindamos soluciones en la atracción de talento y gestión recursos humanos.</h1>
        <p class="textos"><span class="agencia">AGENCIA</span><span class="laboral">LABORAL</span> </p>
    </div>


</div>
<!-- <div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Agencia</em> <span>Laboral</span> Web</h2>
            <p>Lideres en gestión del Talento Humano, en Agencia Laboral Ecuador brindamos soluciones en la atracción de talento y gestión recursos humanos.</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Start</a>
            </div>
        </div>
    </div>
</div> -->





<app-about></app-about>
<app-portfolio></app-portfolio>
<app-feedback></app-feedback>
<app-blog></app-blog>
<app-contact></app-contact> 
