
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>Agencia</em>Laboral</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top"  routerLink="/solicitudes" >Solicitudes</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">Perfil</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <p>“Proporcionamos servicios relacionados con las Tecnologías de la Información (TI) y estamos especializados en la implementación y puesta en marcha de soluciones en el ámbito del Internet de las Cosas (IoT).
                Disponemos de un centro de desarrollo especializado en Sevilla y una oficina de gestión de proyectos en Madrid, para servir de manera eficientes a nuestros clientes de toda Europa. ”</p>           
        </div>
    </div>
</div>
