<!-- <app-menu-lateral> </app-menu-lateral> -->

<div>
    <section>
        <h1>Aspirantes Aceptados</h1>
    </section>
    <section>
        <!-- <button class="btn btn-primary float-end" (click)="getUsuarios()"></button> -->
        <br>
        <br>
        <br>
        <div *ngFor="let user of usuarios">
            <div *ngIf="user.rol_idrol==2">
                <br>
                Usuario: {{user.nombreusuario}}
                <!-- <app-vista-perfil-aspirante [idAspirante]="user.idusuario"></app-vista-perfil-aspirante> -->
                <button type="button" routerLink="/administrador/sesionAdministrador/perfilAspirante/{{user.idusuario}}" class="btn btn-primary float-end"  >
                    
                    Ver Perfil
                </button> 
                <div class="aspiranteIndividual">

                </div>
                <!-- <div *ngIf="asp==true">
                    <app-vista-perfil-aspirante [idAspirante]="user.idusuario"></app-vista-perfil-aspirante>

                </div> -->
            </div>
            <br>
        </div>



    </section>
</div>

