
.aspiranteIndividual{
    border: 1px solid black;
}


.filtros{
    margin-left: 50px;
    margin-right: 50px;
}

#tablaAsp, .mat-elevation-z8{
    width: 750px;
}

.tablaSolicitudes{
    width: 650px;
}

table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    justify-self: center;
    align-items: flex-start;
    column-gap: 30px;
}

.campo{
    width: 100px;
}
.mat-column-nombre, .mat-column-apellido, .mat-column-perfil, .mat-column-aceptar, .mat-column-rechazar{
    width: 150px;
}
.mat-column-eliminar{
    width: 150px;
}



.boton{
    margin-top: 5px;
    width: 250px;
}
.mat-column-cargo,
.mat-column-aspirantesPorSolicitud,
.mat-column-aspirantesPorSolicitud{
    width: 250px;
    text-align: center;
}

.iconos{
    width: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.field-icon {
    float: right;
    margin-right: -60px;
    margin-top: 5px;
    position: relative;
    z-index: 2;
}

.field-icon{
    cursor: pointer;
}

#tablaElecciones, .tbpeq{
    width: 600px;
}
/* #tablaAsp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

ng-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


} */
/*.aceptar{
    margin-right: 80px;
}
.eliminar{

    margin-left: 100px;

}*/
