<div id="container">
    <button type="button" routerLink="/register" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form [formGroup]="form" (submit)="submit()">
        <!-- Username -->
        <label for="name">Correo electrónico:</label>
        <input formControlName="correoelectronico" type="email" class="form-control" placeholder="Email" required>
        <!-- Password -->
        <label for="username">Contraseña:</label>
        <div  class="col">
            <input type="password" [type]="hide ? 'password' : 'text'"  class="form-control" formControlName="contrasenia" placeholder="password">
            <mat-icon class=" field-icon " (click)="show()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            
           
        </div>
        <div id="lower">
            <!-- Submit Button -->
            <button class=" btn btn-primary" type="submit">Login</button>
            <button class=" btn  btn-primary" type="submit" routerLink="/empresa/registroFullEmpresa" >Register</button>
            <!-- <input type="submit" value="Login">
            <input type="submit" routerLink="/empresa/registroFullEmpresa" value="Register"> -->
        </div>
    </form>       
</div>