.borde{
    border: 1px solid black;
}


table#space {
    border-collapse: separate;
    border-spacing: 10px 5px;
  }

th{
    padding-left: 50px;
}

td{
    padding-left: 50px;
}

.fa-user-alt{
    color: black;
}