<div id="container">
    <form>
        <div class="row">
            <div class="col-25">
              <!-- Documanto -->
            <label for="profesion">Profesion:</label>
            </div>
            <div class="col-75">
            <select name="profesion" id="profesion">
                <option value="ing-sistemas">Ingeniería en Sistemas</option>
                <option value="administracion">Administración</option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Años de Experiencia -->
            <label for="exp"> Años de Experiencia </label>
            </div>
            <div class="col-75">
                <input type="text" id="exp" name="exp" placeholder="Años de Experiencia">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Ciudad  -->
            <label for="ciudad">Ciudad: </label>
            </div>
            <div class="col-75">
                <select name="ciudad" id="ciudad">
                    <option value="gye">Guayaquil</option>
                    <option value="uio">Quito</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Provincia -->
                <label for="provincia">Provincia:</label>
            </div>
            <div class="col-75">
                <select name="provincia" id="provincia">
                    <option value="guayas">Guayas</option>
                    <option value="pichincha">Pichincha</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Provincia -->
                <label for="gender">Género:</label>
            </div>
            <div class="col-75">
                <label><input type="checkbox" id="gender1" value="m">Masculino</label><br>
                <label><input type="checkbox" id="gender2" value="f">Femenino</label><br>
                <label><input type="checkbox" id="gender3" value="o">Otro</label><br>

            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Posibilidad de viajae -->
                <label for="gender">Posibilidad de viajar:</label>
            </div>
            <div class="col-75">
                <select name="gender" id="gender">
                    <option value="si">si</option>
                    <option value="si">no</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Rango de edad -->
                <label for="rangoEdad"> Rango de edad</label>
            </div>
            <div class="col-75">
                <input type="text" id="rangoEdad" name="rangoEdad" placeholder=" rangoEdad">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Experticia -->
                <label for="experticia">Experticia</label>
            </div>
            <div class="col-75">
                <input type="text" id="experticia" name="experticia" placeholder="experticia">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Descripción del cargo -->
                <label for="cargo">Descripción del cargo</label>
            </div>
            <div class="col-75">
                <input type="text" id="cargo" name="cargo" placeholder="Descripción del cargo">
            </div>
        </div>

        <div id="lower">
            <!-- Submit Button -->
            <input type="submit"   value="Enviar">
        </div>
    </form>       
</div>