<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miFormulario" enctype="multipart/form-data">
            
            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Tipo de Documento</label>
                <div class="col-sm-9">
                    
                    <select name="doc" id="doc" formControlName="tipodocumento_idtipodocumento">
                        <option *ngFor="let documento of tipoDocumento" value="{{documento.idtipodocumento}}">
                            {{documento.descripcion}}
                        </option>
                    </select>

                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('tipodocumento_idtipodocumento')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">No de Documento</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName ="nodocumento" 
                           placeholder=""
                           (change)="validadorDeCedula()" 
                           >
                    <span class="form-text text-danger"
                        *ngIf="!validador">
                        
                        Escriba un número de documento válido
                    </span>
                    <small *ngIf="campoEsValido('nodocumento')" class="text-danger">
                        Campo Obligatorio
                    </small>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombres Completos</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('nombre')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Apellidos Completos</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="apellido"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('apellido')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Correo </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="correo"
                           placeholder="correo">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('correo')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Contraseña </label>
                <div class="col-sm-9">
                    <input type="password"
                    [type]="hide ? 'password' : 'text'"
                           class="form-control"
                           formControlName="contrasenia"
                           placeholder="contrasenia">
                    <mat-icon class=" field-icon " (click)="show()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('contrasenia')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>
            <!-- <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Confirmacion de Contraseña  </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="confirmacion"
                           placeholder="confirmacion">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('confirmacion')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div> -->

            
            


            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" (click)="createUsuario()"
            [disabled]="miFormulario.invalid "
            >
                Registrar Representante
            </button>
                    
                            
                        
                    
                </div>
            </div>
            <!-- routerLink="['/registroRepresentante', id ]" -->


        </form>

    </div>
</div>
