<p>perfil-representante works!</p>
<h1>Datos Personales</h1>

<!-- <div class="contenedorInformacion" *ngFor="let u of usuarios" >
    <div *ngIf="u.idusuario==id"> -->
        <p>Tipo de documento: {{nombredoc}}</p>
        <p>Número de documento: {{usuarioActual.nodocumento}}</p>
        <p>Nombres: {{usuarioActual.nombre}}</p>
        <p>Apellidos:{{usuarioActual.apellido}} </p>
        <p>Nombre de Usuario: {{usuarioActual.nombreusuario}}</p>
        <p>Provincia: {{provincia}}</p>
        <p>Ciudad:{{ciudad}}</p>
        <p>Estado Civil: {{estadoCivil}}</p>
        <p>Género: {{genero}}</p>
        <p>Correo: {{usuarioActual.correo}}</p>
        <p>Teléfono: {{usuarioActual.telefono}}</p>
        <p>Dirección: {{usuarioActual.direccion}}</p>