<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miFormulario" enctype="multipart/form-data">
            
            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Tipo de Documento</label>
                <div class="col-sm-9">

                    {{nombredoc}}
                    
                    <!-- <select name="doc" id="doc" formControlName="tipodocumento_idtipodocumento">
                        <option *ngFor="let documento of tipoDocumento" value="{{documento.idtipodocumento}}">
                            {{documento.descripcion}}
                        </option>
                    </select>

                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('tipodocumento_idtipodocumento')">
                        
                        Campo Requerido
                    </span> -->
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">No de Documento</label>
                <div class="col-sm-9">
                    <!-- <input type="text"
                           class="form-control"
                           formControlName ="nodocumento" 
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('nodocumento')">
                        
                        Campo Requerido
                    </span> -->
                    {{usuarioActual.nodocumento}}
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombres Completos</label>
                <div class="col-sm-9">

                    {{usuarioActual.nombre}}
                    <!-- <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder=""
                           >
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('nombre')">
                        
                        Campo Requerido
                    </span> -->
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Apellidos Completos</label>
                <div class="col-sm-9">
                    {{usuarioActual.apellido}}
                    <!-- <input type="text"
                           class="form-control"
                           formControlName="apellido"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('apellido')">
                        
                        Campo Requerido
                    </span> -->
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre de usuario</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombreusuario"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('nombreusuario')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Povincia</label>
                <div class="col-sm-9">
                    <select name="provincia" id="provincia" formControlName="provincia_idprovincia">
                        <option *ngFor="let prov of provincia" value="{{prov.idprovincia}}">
                            {{prov.nombreprovincia}}
                        </option>
                    </select>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('provincia_idprovincia')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Ciudad </label>
                <div class="col-sm-9">
                    <select name="ciudad" id="ciudad" formControlName="ciudad_idciudad">
                        <option *ngFor="let city of ciudad" value="{{city.idciudad}}" >
                            {{city.nombreciudad}}
                        </option>
                    </select>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('ciudad_idciudad')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Estado Civil  </label>
                <div class="col-sm-9">
                    <select name="estadoCivil" id="estadoCivil" formControlName="estadocivil_idestadocivil">
                        <option *ngFor="let estado of estadoCivil" value="{{estado.idestadocivil}}">
                            {{estado.estadocivil}}
                        </option>
                        
                        <!-- <option value="f">Femenino</option>
                        <option value="o">Otro</option> -->
                    </select>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('estadocivil_idestadocivil')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Género  </label>
                <div class="col-sm-9">
                    <select name="gender" id="gender" formControlName="genero_idgenero">
                        <option *ngFor="let gen of genero" value="{{gen.idgenero}}">
                            {{gen.genero}}
                        </option>
                        
                        <!-- <option value="f">Femenino</option>
                        <option value="o">Otro</option> -->
                    </select>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('genero_idgenero')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Dirección</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="direccion"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('direccion')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Teléfono</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="telefono"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('telefono')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Correo </label>
                <div class="col-sm-9">
                    {{usuarioActual.correo}}
                    <!-- <input type="text"
                           class="form-control"
                           formControlName="correo"
                           placeholder="">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('correo')">
                        
                        Campo Requerido
                    </span> -->
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Contraseña </label>
                <div class="col-sm-9">
                    <input type="password"
                        [type]="hide ? 'password' : 'text'"
                        class="form-control"
                        formControlName="contrasenia"
                        placeholder="">

                    <mat-icon class=" field-icon " (click)="show()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('contrasenia')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div>
            <!-- <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Confirmacion de Contraseña  </label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="confirmacion"
                           placeholder="confirmacion">
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('confirmacion')">
                        
                        Campo Requerido
                    </span>
                </div>
            </div> -->

            
            


            <div class="row">
                <div class="col">
                    <button type="submit"
                            
                            (click)="updateUsuario()"
                            class="btn btn-primary float-end" 
                            [disabled]="miFormulario.invalid"
                            >
                            
                        Guardar
                    </button>
                </div>
            </div>


            <!-- (click)="createUsuario()" -->
        </form>

    </div>
</div>