
<app-loading *ngIf="loading"></app-loading>    
<div id="container" *ngIf="!siguiente">
 
    <!-- <form >
        <mat-form-field>
            <mat-label>
                Profesiones
            </mat-label>

            <input type="text"
                matInput
                [formControl]="control"
                [matAutocomplete]="auto"
            >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">

                <mat-option *ngFor="let profesion of filProfesiones | async " [value]="profesion.id">
                    {{profesion.profesion}}
                </mat-option>


            </mat-autocomplete>


        </mat-form-field>
    </form> -->
 <!-- <form >
    <mat-form-field>
        <mat-label>
            Profesiones
        </mat-label>
        <input type="text" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let p of options">
                {{p}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>  -->




    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardarInfoProfesional()" >

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Profesiones</label>
            <div class="col-sm-9"  style="width: 400px;">

                <ng-autocomplete  
                    formControlName="profesiones_idprofesiones"
                    [data]="data$ | async "
                    [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    placeholder='Ingrese una profesión'
                    (selected)='selectEvent($event)'
                    >
                    
                    
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item >
                        <a [innerHTML]="item.profesion" ></a>
                        </ng-template>
                        
                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                    
                    





            </div>


        </div>


        <!-- <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Profesiones</label>
            <div class="col-sm-9">
                
                <select name="doc" id="doc" formControlName="profesiones_idprofesiones" style="width: 250px;" class="form-control">
                    <option *ngFor="let p of profesiones" value="{{p.idprofesiones}}">
                        {{p.profesion}}
                    </option>
                </select>

                <span class="form-text text-danger"
                *ngIf="campoEsValido('profesiones_idprofesiones')">
                
                Campo obligatorio
            </span>
            </div>
        </div> -->

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Descripción del perfil profesional</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName ="descripcionPerfilProfesional" 
                       placeholder="Ingrese su experiencia laboral"
                       style="width: 500px; height: 100px;" >

                       <span class="form-text text-danger"
                       *ngIf="campoEsValido('descripcionPerfilProfesional')">
                       
                       Campo requerido
                       
                   </span> 
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Salario mínimo aceptado</label>
            <div class="col-sm-9">
                <input type="number"
                       class="form-control"
                       formControlName ="salarioMinimoAceptado" 
                       placeholder="Ingrese sueldo deseado"
                       style="width: 250px;"
                       >

                       <span class="form-text text-danger"
                       *ngIf="campoEsValido('salarioMinimoAceptado')">
                       
                       Campo requerido
                       
                   </span> 
            </div>
        </div>
      

       

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Video</label>
            <div class="col-sm-9">
                <label style="font-weight: normal;"> Suba un video de duración entre 30 segundos y 1 minuto </label>
                <input type="file"
                       id="videoPresentacion"
                       class="form-control"
                       formControlName="videopresentacion"
                       placeholder=""
                       (change)="handleFileInput($event)"
                       style="width: 250px;"
                       >
                       <span class="form-text text-danger"
                        *ngIf="!videoValido">
                        
                        El archivo supera los 6Mb.
                        
                    </span>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('videopresentacion')">
                        
                        El archivo debe ser un video.
                        
                    </span>
            </div>
        </div>



        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Años de experiencia</label>
            <div class="col-sm-9">
                <input type="number"
                       class="form-control"
                       formControlName ="aniosexperiencia" 
                       placeholder="Ingrese sus años de experiencia"
                       style="width: 250px;"
                       >

                       <span class="form-text text-danger"
                        *ngIf="campoEsValido('aniosexperiencia')">
                        
                        Campo requerido
                        
                    </span>
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
            <div class="col-sm-9">
                <input type="date"
                   
                       class="form-control"
                       formControlName ="fechanacimiento" 
                       (change)="validarFechaNacimiento()"
                       placeholder="Numero" 
                       style="width: 250px;"
                       >
                       <span class="form-text text-danger"
                        *ngIf="!fechaCorrecta">
                        
                        Debe ser mayor de 18 años para poder registrarse en la aplicación
                    </span>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('fechanacimiento')">
                        
                        Campo obligatorio
                    </span>

                       
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Número de hijos</label>
            <div class="col-sm-9">
                <input type="number"
                       class="form-control"
                       formControlName ="numerohijos" 
                       placeholder="Ingrese la cantidad de hijos que tiene"
                       style="width: 250px;">

                       <span class="form-text text-danger"
                       *ngIf="campoEsValido('numerohijos')">
                       
                       Campo requerido
                       
                   </span> 
            </div>
        </div>


   <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Disponibilidad para viajar</label>
    <div class="col-sm-9">
     
    
    <input type="radio" value="si" formControlName="posibilidadviajar"> Si
    <input type="radio" value="no" formControlName="posibilidadviajar"> No







        <span class="form-text text-danger"
                        *ngIf="campoEsValido('posibilidadviajar')">
                        
                        Campo obligatorio
                    </span> 
                    
        
    </div>
        </div>


        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Posibilidad cambio de residencia</label>
            <div class="col-sm-9">
             
            
            <input type="radio" value="si" formControlName="posibilidadcambioresidencia"> Si
            <input type="radio" value="no" formControlName="posibilidadcambioresidencia"> No
        
        
        
        
        
        
        
                <span class="form-text text-danger"
                                *ngIf="campoEsValido('posibilidadcambioresidencia')">
                                
                                Campo obligatorio
                            </span> 
                            
                
            </div>
                </div>


                        <div class="mb-3 row" *ngIf="agregarUnaFormacion">
                            <label class="col-sm-3 col-form-label">Idiomas</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control"
                                       formControlName ="idiomas" 
                                       placeholder="Ingrese los idiomas que sabe " 
                                       style="width: 500px;"
                                       >
                
                                       <span class="form-text text-danger"
                                       *ngIf="campoEsValido('idiomas')">
                                       
                                       Campo requerido
                                       
                                   </span> 
                            </div>
                        </div>

                       

   

       

        <div id="lower">
            <button type="submit" class="btn btn-primary float-end"
            
            >
                Guardar
            </button>

        </div>




    </form>
    <button type="submit" class="btn btn-primary float-end" (click)="siguientePagina()" style="margin-left: 700px;">
        Siguiente
    </button>



    <!-- [disabled]="miFormulario.invalid || !fechaCorrecta || !videoValido" -->




    
</div>


<div id="container" *ngIf="siguiente">

    <div>
        <h2>Añada sus estudios</h2>
    </div>
    <hr>
    
    <div class="mb-3 row" style="margin-left: 50px; " >
        <div class="col-sm-9">
            <div *ngFor="let formaciones of listaFormaciones">
                    
                <div *ngIf="formaciones.aspirante_idaspirante == idAspirante">
                 
                    <div *ngFor="let niv of niveles">
                        
                        <div *ngIf="niv.idnivelestudios== formaciones.nivelestudios_idnivelestudios ">
                            <h3>{{niv.descripcion}}</h3>
                        </div>

                    </div>
                    <div style="border: 1px solid black;"> 
                    <h4>Centro Educativo: {{formaciones.centroeducativo}}</h4>
                    <h4>Estado:{{formaciones.estadoestudios}}</h4>
                    <h4>Fecha Inicio:{{formaciones.fechainicio}}</h4>
                    <h4>Fecha Cierre:{{formaciones.fechacierre}}</h4>
                    <h4>Área de Estudio:{{formaciones.areaestudios}}</h4>
                    

                    <mat-icon class="field-icon" (click)="eliminarFormacion(formaciones.idformacionprofesional)">delete</mat-icon>
                    </div>
                </div>



            </div>
            
            
        </div>
    </div>
    <hr>



    <form autocomplete="off" [formGroup]="miFormularioFormacion" (ngSubmit)="guardarFormacion()" *ngIf="agregarUnaFormacion" class="ms-5">
        


        <div class="mb-3 row" *ngIf="agregarUnaFormacion">
            <label class="col-sm-3 col-form-label">Nivel de Estudios</label>
            <div class="col-sm-9">
                
                <select name="doc" id="doc" formControlName="nivelestudios_idnivelestudios">
                    <option *ngFor="let n of niveles" value="{{n.idnivelestudios}}">
                        {{n.descripcion}}
                    </option>
                </select>

                <span class="form-text text-danger"
                *ngIf="campoEsValido2('nivelestudios_idnivelestudios')">
                
                Campo obligatorio
            </span>
            </div>
        </div>

        <div class="mb-3 row" *ngIf="agregarUnaFormacion">
            <label class="col-sm-3 col-form-label">Centro Educativo</label>
            <div class="col-sm-9">

                <input type="text"
                    class="form-control"
                    formControlName ="centroeducativo" 
                    placeholder=""
                    >

                    <span class="form-text text-danger"
                    *ngIf="campoEsValido2('centroeducativo')">
                    
                    Campo requerido
                    
                </span> 
                
                

            </div>
        </div>

        <div class="mb-3 row" *ngIf="agregarUnaFormacion">
            <label class="col-sm-3 col-form-label">Area de Estudio</label>
            <div class="col-sm-9">
                
                <input type="text"
                    class="form-control"
                    formControlName ="areaestudios" 
                    placeholder=""
                    >

                    <span class="form-text text-danger"
                    *ngIf="campoEsValido2('areaestudios')">
                    
                    Campo requerido
                    
                </span> 
            </div>
        </div>

        <div class="mb-3 row" *ngIf="agregarUnaFormacion">
            <label class="col-sm-3 col-form-label">Estado estudios</label>
            <div class="col-sm-9">
             
                
                    <input type="radio" value="Cursando" formControlName="estadoestudios">Cursando
                <input type="radio" value="Completado" formControlName="estadoestudios">Completado
                
                <span class="form-text text-danger"
                *ngIf="campoEsValido2('estadoestudios')">
                
                Campo obligatorio
            </span>              
                
            </div>
        </div>

        <div class="row" *ngIf="agregarUnaFormacion">
            <div class="col-25">
            <!-- fechainicio -->
            <label class="col-sm-3 col-form-label">Fecha de inicio</label>
            </div>
            <div class="col-sm-9">
                <input type="date" formControlName="fechainicio" placeholder="Ingrese la fecha de inicio "
                (change)="validarFechainicio()">
                <span class="form-text text-danger" *ngIf="campoEsValido2('fechainicio')"
                >
                    Campo Requerido
                </span>
                <span class="form-text text-danger"
                    *ngIf="!fechaCorrectaInicio">
                    
                    Ingrese una fecha correcta.
                    
                </span>
            </div>
        </div>
        <div class="row" *ngIf="agregarUnaFormacion">
            <div class="col-25">
            <!-- fechacierre -->
            <label class="col-sm-3 col-form-label">Fecha de cierre</label>
            </div>
            <div class="col-sm-9" >
                <input type="date" formControlName="fechacierre" placeholder="Ingrese la fecha de cierre"
                (change)="validarFechacierre()" >
                <span class="form-text text-danger" *ngIf="campoEsValido2('fechacierre')">
                    Campo Requerido
                </span>
                <span class="form-text text-danger"
                    *ngIf="!fechaCorrectaCierre">
                    
                    Ingrese una fecha correcta.
                    
                </span>
            </div>
        </div>

        <!-- Para nueva formación -->
        

        

        <!-- <div style="margin-left: 50px;" class="row" *ngIf="agregarUnaFormacion">
            <div class="col">
                <button type="button" class="btn btn-primary float-end" (click)="agregarUna()">Añadir</button>
            </div>
        </div> -->
        <div id="lower">
            <button type="submit" class="btn btn-primary float-end"
            >
                Guardar
            </button>
    
        </div>
        



    </form>

    <div class="row">
        <div class="col" id="botones">
            <div style="margin-left: 50px;" class="row" *ngIf="!agregarUnaFormacion">
                <div class="col">
                <button type="button" class="btn btn-primary float-end" (click)="nuevaFormacion()">Agregar nueva formación</button>
                </div>
                </div>
        
        
            <div style="margin-left: 50px;" class="row" *ngIf="agregarUnaFormacion">
                <div class="col">
                <button type="button" class="btn btn-primary float-end" (click)="cerrar()">Cancelar</button>
                </div>
                </div>
                
                <div style="margin-left: 50px;" class="row">
                    <div class="col">
                    <button type="button" class="btn btn-primary float-end" (click)="anteriorPagina()">Regresar</button>
                    </div>
                    </div>
        
                    <div style="margin-left: 50px;" class="row" >
                        <div class="col">
                        <button type="button" class="btn btn-primary float-end" (click)="finalizar()">Finalizar</button>
                        </div>
                        </div>
        </div>
    </div>
</div>
