/* Basics */ 
 
html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
 
}
 
#container {
    display: grid;
    grid-template-rows: 35px 150px;
    justify-items: center;
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 30px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background-color: #33C1CF;
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

#cerrar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    width: 90%;

}

.close{
    width: 30px;
    height: 30px;
    margin-right: -10px;
    margin-top: 5px;
}
 
form {
    display: grid;
    grid-template-rows: 170px 15px 50px;
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    height: 100%;
}
 
label {
    color: white;
    display: block;
    margin-left: 0px;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    background: #5F5858;
}

#datos{
    display: grid;
    grid-template-rows: 30px 50px 30px 50px;
}
 
p a{
    font-size: 11px;
    color: black;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
 
p a:hover {
    color: #555;
}
 
input{
    font-family: sans-serif;
    font-size: 12px;
    outline: none;
}

/* .divinput{
    text-align:center;
} */
 
input[type=email], input[type=text],
input[type=password] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: auto;
    color: #777;
    /* padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px; */
    width: 90%;
    height: 60%;
    border: 1px solid #c7d0d2;
    border-radius: 10px;
    /* box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 1px #f5f7f8; */
    /* -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease; */
}
 
/* input[type=name]:hover,
input[type=password]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
} */
 
/* input[type=name]:focus,
input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
} */

#topcenterbar {
    background: #5F5858;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    box-shadow: inset 0 1px 1px #fff;
    /* border-top: 1px solid #5F5858; */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
}
 
#lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #33C1CF;
    width: 100%;
    height: 60px;
    margin-top: 0px;
    /* box-shadow: inset 0 1px 1px #fff; */
    /* border-top: 1px solid #ccc; */
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
 
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
 
.check {
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
 
input[type=submit] {
    float: right;
    margin-right: 0px;
    margin-top: -15px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    font-weight: 600px;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F89624), to(#F89624));
    background-image: -moz-linear-gradient(top left 90deg, #F89624 0%, #F89624 100%);
    background-image: linear-gradient(top left 90deg, #F89624 0%, #F89624 100%);
    border-radius: 30px;
    border: 1px solid #F89624;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(119, 212, 253, .5); */
    cursor: pointer;
    background-color: #F89624;
}
 
/* input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
} */
 
/* input[type=submit]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
    background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
    background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
} */

button {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(119, 212, 253, .5);
    cursor: pointer;
  }

.field-icon {
    float: right;
    margin-right: 35px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}